@font-face {
  font-family: "Caviar Dreams";
  src: url(../font/CaviarDreams.woff);
  font-style: normal;
  font-display: swap;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
}
body {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Caviar Dreams";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  color: rgb(84, 80, 80);
  background-color: rgb(230, 230, 230);
}
main {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;

  background-color: #fff;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.heello {
  position: relative;
}
p {
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 110px;
  left: -150px;

  height: 110px;
  transform: rotate(-90deg);
  font-weight: 400;

  letter-spacing: 15px;
  font-size: 100px;
  line-height: 1.2;
  color: #000;
}

a {
  text-decoration: none;
  color: rgb(52, 52, 52);
}

.list {
  list-style: none;
}

.work {
  list-style: none;
}

.list_item::before {
  content: "";
  top: 12px;
  left: -23px;

  position: absolute;
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  background-color: #f53906;
}

h2 {
  font-size: 46px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 22px;
  color: #fff;
}
.introduce_myself_p {
  font-size: 26px;
  padding-bottom: 22px;
  
  
}

.introduce_myself_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}
.test {
  font-weight: normal;
  letter-spacing: 2px;
}

.test:not(:last-child) {
  margin-bottom: 20px;
}

.procent-skills::after {
  content: "";
  display: block;
  height: 11px;
  width: 160px;
  background-image: linear-gradient(
    to right,
    rgb(245, 57, 6) 90%,
    rgb(231, 153, 132) 90%
  );
  border-radius: 1px;
}

.img {
  z-index: 1000;
  display: block;
}

.photoshop::after {
  background-image: linear-gradient(
    to right,
    rgb(245, 57, 6) 80%,
    rgb(231, 153, 132) 80%
  );
}
.in-Design::after {
  background-image: linear-gradient(
    to right,
    rgb(245, 57, 6) 50%,
    rgb(231, 153, 132) 50%
  );
}
.after-effects::after {
  background-image: linear-gradient(
    to right,
    rgb(245, 57, 6) 45%,
    rgb(231, 153, 132) 45%
  );
}

.skiils {
  margin-left: 30px;
}

.container {
  padding-left: 115px;
  padding-right: 20px;
}

.heello {
  display: flex;
  justify-content: flex-start;
}

.flex-list {
  display: flex;
  align-items: flex-start;
}

.title-skills {
  padding-left: 115px;
  margin-bottom: 40px;
  color: #000;
}

.skills__list {
  font-size: 22px;
  padding-top: 0;
}
.skiils {
  padding-top: 110px;
}

.procent-skills {
  margin-left: 10px;
  margin-bottom: 45px;
}

.introduce_myself {
  position: absolute;
  top: 540px;
  width: 1000px;
  padding-right: 160px;

  padding-top: 150px;
  padding-bottom: 30px;
  background-color: #f53906;
  color: #fff;
}

.experience {
  padding-top: 290px;
  padding-left: 140px;
  display: flex;
}

.list-percent {
  padding-top: 15px;
}

.img::after {
  content: "";
  bottom: -50px;
  right: 290px;
  z-index: 1001;
  position: absolute;
  display: inline-block;
  width: 140px;
  height: 140px;

  border: 4px dashed rgba(214, 211, 211, 0.8);
}

ul {
  position: relative;
  padding-top: 40px;
}

h3 {
  position: absolute;
  top: -20px;
  left: -26px;
  margin: 0;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 46px;
  color: rgb(62, 62, 62);
}

.list_item {
  color: #000;
  list-style: square;
  position: relative;
  list-style: none;
}

.experience {
  display: flex;
  
  justify-content: space-between;
  padding-bottom: 25px;
  height: 1075px;
}
.experience > ul {
  width: 335px;
  margin-bottom: 30px;
}

.experience li {
  word-spacing: 3px;
}

.list-image {
  display: flex;
  position: absolute;
  left: -20px;
  align-items: flex-end;
}

.list-image > li:not(:last-child) {
  margin-right: 45px;
}

.spetial {
  margin-bottom: 20px;
  position: relative;
}

.integration {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.integration_one ul {
  margin-bottom: 30px;
}

.language {
  margin-bottom: 80px;
}

.portfolio {
  margin-bottom: 80px;
}

.contact {
  margin-bottom: 80px;
}

.title_interest {
  top: -43px;
  left: -7px;
}

.list-image {
  
}

.list-image li {
  display: block;
  margin-top: 4px;
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
}